.sign-in {
    width: 100%; /* Set width to fill the parent container */
    max-width: 400px; /* Added a maximum width for better responsiveness */
    margin: 0 auto; /* Center the login form horizontally */
    background-color: #ffffff; /* Changed background color to white */
    padding: 30px; /* Increased padding for more spacing */
    border: 2px solid #3498db; /* Changed border color and thickness */
    border-radius: 10px; /* Increased border-radius for rounded corners */
    text-align: center;
    font-size: 20px; /* Increased font size for emphasis */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Increased the box shadow for a stronger effect */
    color: #333;
}

/* Add hover effect for a button-like appearance */
.sign-in:hover {
    background-color: #3498db;
    color: #fff; /* Change text color on hover */
}
